@import "scss/variables";
// Слайдер
.slick-slider{
}
// Слайдер запущен
.slick-slider.slick-initialized{}
// Слайдер с точками
.slick-slider.slick-dotted{}
// Ограничивающая оболочка
.slick-list {
  overflow: hidden;
  width: 100%;
}
// Лента слайдов
.slick-track{
  display: flex;
  width: 100%;
}
// Слайд
.slick-slide{
}
// Слайд активный (показывается)
.slick-slide.slick-active{}
// Слайд основной
.slick-slide.slick-current{}
// Слайд по центру
.slick-slide.slick-center{}
// Клонированный слайд
.slick-slide.slick-cloned{}
// Стрелка
.slick-arrow{}
// Стрелка влево
.slick-arrow.slick-prev{}
// Стрелка вправо
.slick-arrow.slick-next{}
// Стрелка не активная
.slick-arrow.slick-disabled{}
// Точки (булиты)
.slick-dots{}
.slick-dots li{}
// Активная точка
.slick-dots li.slick-active{}
//Элемент точки
.slick-dots li button{}

//zxc1
// Лента слайдов
.beg__u__to__work .slick-dots{
  display: flex;
  justify-content: center;
  border: none;
  position: absolute;
  left: 52%;
  transform: translate(-50%);
  margin-top: 325px;
}
.beg__u__to__work .slick-dots li{
  list-style: none;
  margin: 0 10px;
}
.beg__u__to__work .slick-dots li.slick-active button{
  background-color: $dark-grey;
}
.beg__u__to__work .slick-dots li button{
  font-size: 0;
  width: 10px;
  height: 12px;
  border: none;
  background-color: #b3b3b3;
  border-radius: 50%;
}
//zxc2
.slider__two .slick-dots{
  display: flex;
  margin-top: 110px;
  margin-bottom: 40px;
  justify-content: center;
  border: none;
}
.slider__two .slick-dots li{
  list-style: none;
  margin: 0 10px;
}
.slider__two .slick-dots li.slick-active button{
  background-color: $dark-grey;
}
.slider__two .slick-dots li button{
  font-size: 0;
  width: 10px;
  height: 12px;
  border: none;
  background-color: #b3b3b3;
  border-radius: 50%;
}

//zxc3
.slider__three .slick-dots{
  display: flex;
  margin-bottom: 70px;
  justify-content: center;
  border: none;
}
.slider__three .slick-dots li{
  list-style: none;
  margin: 0 12px;
}
.slider__three .slick-dots li.slick-active button{
  background-color: $dark-grey;
}
.slider__three .slick-dots li button{
  font-size: 0;
  width: 10px;
  height: 12px;
  border: none;
  background-color: #b3b3b3;
  border-radius: 50%;
}
